:root {
  --font-title: DM Sans;
  --font-text: Inter;
  --font-subtext: DM Mono;


  --color-primary-text: #e0e0e0;
  --color-secondary-text: #c4c4c4;
  --color-tertiary-text: #696969;

  --color-primary-bg: #212121;
  --color-secondary-bg: #424242;
  --color-tertiary-bg: #ffcf96;

  --color-shadow-low: rgba(49, 49, 49, 0.5);

  --weight-heavy: bold;
  --weight-regular: normal;
}

html {
  background: var(--color-primary-bg);
}

::-moz-selection {
  color: var(--color-primary-bg);
  background: var(--color-tertiary-bg);
}

::selection {
  color: var(--color-primary-bg);
  background: var(--color-tertiary-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-tertiary-bg);
  cursor: pointer;
}

#app {
  position: absolute;
  left: 5vmin;
  top: 5vmin;
  right: 5vmin;
  bottom: 5vmin;
}

.title {
  font-family: DM Mono;
  font-size: 4vmin;
  color: var(--color-secondary-text);
}

/*#pkg-searchbar-frame {
  background-color: transparent;
  width: 95% !important;
  position: absolute;
  top: 8.5vmin;
  left: 50%;
  height: 4vmin;
  transform: translateX(-50%);
  outline: none;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  padding: 2.5%;
  z-index: -1;
}*/
